@{ ViewBag.Title = "TweetForm";}
<div id="SearchParent">

    <div id="SearchBox">
        <h4>Enter Twitter Handle</h4>

        @using (@Html.BeginForm("Create", "Home", FormMethod.Post))
        {

            <input type="text" name="text" maxlength="15" input pattern="^[A-Za-z0-9_]{1,15}$" />
            <input type="submit">

        }
    </div>

    <div id="SearchInfo">
        <h4>Welcome to SMS!</h4>
        <p>Search your favorite Twitter Handle to see how they are performing!</p>
        <p>Type in any Handle by providing an alphanumeric string and underscores only.</p>
        <p>Also, all handles are 15 characters or less</p>
    </div>

    
</div>

<div id="SearchInfo">
    <p>Welcome to the Social Media Satellite.</p>
    <p>Here at the SMS we'll take in a handle and run it through our rigorous tests to provide a Social Media Presence rating.</p>
    <p>To Evaluate that rating we'll normalize the likes and retweets, while comparing the trending hashtags and hashtags of the handle, to deliver that Social Media Presence rating.</p>
    <p>Currently some of the top rated accounts rank between 50 and 60 points.</p>
    <p>Lets see where you or one of your favorite handles rank!</p>
</div>

